.middle-section-1{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ms1_1,.ms1_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 45px;
  align-items: center;
}

/* Middle Section Top */
.ms1_1_a{
  width: 900px;
  font-size: 76px;
  text-align: center;
  color: rgb(48, 48, 48);
  padding-top: 36px;
  padding-bottom: 20px;
}

.ms1_1_b{
  width: 900px;
  font-size: 20px;
  text-align: center;
  color: rgb(61, 61, 61);
  padding-top: 0%;
  padding-bottom: 0%;
}

/* Middle Section Bottom */
.ms1_2_a{
  width: 70;
  margin-left: 7px;
  margin-right: 7px;
  padding-bottom: 14px;
}

.getting-started {
  width: 185px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 20px;
  border-width: 3px;
  border: solid;
  cursor: pointer;
  border-radius: 8px;
}


.ms1_2_b{
  font-size: 16px;
  color: rgb(130, 130, 130);
  margin-top: 8px;
}


/* Youtube */
.youtube-container{
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 90px;
}

.video{
  border-radius: 10px;
}