<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our-story</title>
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="team.css">
  <link rel="stylesheet" href="../../CSS/animation.css">
</head>
<body>
  <!--Header-->
  <div class="header">
    <div class="header-left">
      <img src="EcoGuardian-logo.png" alt="Logo" class="EcoGuardian-logo">
      <div class="project-name">Eco-Guardian</div>
    </div>
    
    <div class="header-right">
      <a href="../../index.html" class="header-links"><div class="header-tags fly-up">Home</div></a>
      <a href="../../Components/about-us/our-story.html" class="header-links"><div class="header-tags fly-up">About Us</div></a>
      <a href="../how it works/how it works.html" class="header-links"><div class="header-tags fly-up">How it Works</div></a>
      <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Reward</div></a>
      <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Project</div></a>
      <!-- <a href="../coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Leaderboard</div></a> -->
      <a href="../login/registr.html" class="header-links"><div class="header-tags"><button class="login shadow-effect">Login</button></div></a>
    </div>
  </div>

  <!--Middle Section: 8-->
  <div class="middle-section-8">
    <div class="ms8-container1">
      <div class="team">Meet the Team</div>
      <div class="team-description">We're a dedicated team committed to promoting cleanliness and sustainability.</div>
    </div>

    <div class="ms8-container2">
      <div class="card-container">
        <div class="card">
          <div class="wrapper">
            <img class="back-warrior" src="team-members/IMG-20231218-WA0382.jpg">
          </div>
          <p class="title">Yuvraj</p>
          <img class="front-warrior" src="team-members/yuvraj.png">
        </div>

        <div class="card">
          <div class="wrapper">
            <img class="back-warrior" src="../../team-members/anant.jpeg">
          </div>
          <p class="title">Anant</p>
          <img class="front-warrior" src="../../team-members/anant_bg_removed.png">
        </div>

        <div class="card">
          <div class="wrapper">
            <img class="back-warrior" src="../../team-members/sonali.jpeg">
          </div>
          <p class="title">Sonali</p>
          <img class="front-warrior" src="../../team-members/sonali_bg_removed-removebg-preview.png">
        </div>

        <div class="card">
          <div class="wrapper">
            <img class="back-warrior" src="../../team-members/pranav.jpeg">
          </div>
          <p class="title">Pranav</p>
          <img class="front-warrior" src="../../team-members/pranav_bg_removed.png">
        </div>
      </div>
    </div>
    <br><br><br>

    <!-- <div class="ms8-container3">
      <a href="Components/402 not found/402-not-found.html"><button class="meet-team shadow-effect">Meet the Team</button></a>
    </div> -->
  </div>

  <div class="container">
    <h1>Our Story: From Assignment to Action</h1>
    <div class="section">
        <h2>Assignment Revelation</h2>
        <p class="para">The inception of EcoGuardian traces back to a pivotal moment during an assignment for the Environmental Awareness and Action (EAA) subject. While tasked with creating a presentation and report on the Swachh Bharat Abhiyan, it became apparent that although there were reporting systems in place for cleanliness, they were often non-functional. Moreover, the absence of a platform for individuals genuinely interested in improving their surroundings was glaringly evident.</p>
    </div>

    <div class="section">
      <h2>Forging a partnership through shared vision</h2>
      <p class="para">As the leader of this project, I recognized the need for change, especially after witnessing the enthusiastic participation of NIT Patna students in a cleaning drive near Gandhi Ghat on Gandhi Jayanti. This demonstrated a willingness to volunteer for social causes, yet the lack of a centralized platform hindered their efforts.</p>
      <p class="para">During the community cleaning drive, I met Anant Singh, and our shared passion for environmental conservation led to a fortuitous partnership. Together, we embarked on the journey to develop EcoGuardian, envisioning a platform that not only facilitated volunteering opportunities but also provided educational resources to empower individuals to take action.</p>
    </div>

    <div class="section">
      <h2>From Idea to Action: Hackathon Momentum</h2>
      <p class="para">Despite harboring plans for such a platform, we hesitated, waiting for the perfect moment. However, the opportunity presented itself when we decided to participate in the ByteVerse Annual Hackathon at NIT Patna. Viewing it as a challenge to turn our vision into reality within the stipulated timeframe, our team dedicated ourselves to creating a prototype of the EcoGuardian community website.</p>
      <p class="para">With each keystroke and brainstorming session, EcoGuardian evolved from a mere idea to a tangible initiative poised to make a meaningful impact on environmental conservation efforts. Stay tuned as we unveil our plans for the future, one step at a time. Together, let's create a cleaner, greener tomorrow.</p>
      <p class="para"></p>
    </div>
  </div>
</body>  
</html>