<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="402-not-found.css">
  <link rel="stylesheet" href="../../CSS/animation.css">
  <link rel="stylesheet" href="header.css">
</head>
<body>
  <!--Header-->
  <div class="header">
    <div class="header-left">
      <img src="EcoGuardian-logo.png" alt="Logo" class="EcoGuardian-logo">
      <div class="project-name">Eco-Guardian</div>
    </div>
    
    <div class="header-right">
      <a href="../index.html" class="header-links"><div class="header-tags fly-up">Home</div></a>
      <a href="Components/about-us/our-story.html" class="header-links"><div class="header-tags fly-up">About Us</div></a>
      <a href="Components/how it works/how it works.html" class="header-links"><div class="header-tags fly-up">How it Works</div></a>
      <a href="Components/coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Reward</div></a>
      <a href="Components/how it works/how it works.html" class="header-links"></a>
      <a href="Components/coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Project</div></a>
      <a href="chat/ecoChat.html" class="header-links"><div class="header-tags fly-up">Join Communities</div></a>
      <a href="Components/login/login.html" class="header-links"><div class="header-tags fly-up">Login</div></a>
      <!-- <a href="Components/coming-soon/index.html" class="header-links"><div class="header-tags fly-up">Leaderboard</div></a> -->
      <!-- <a href="Components/login/registr.html" class="header-links"><div class="header-tags"><button class="login shadow-effect">Login</button></div></a> -->
    </div>
  </div>


  <main class="bl_page404">
    <h1>Error 404. The page does not exist</h1>
    <p>Sorry! The page you are looking for can not be found. Perhaps the page you requested was moved or deleted. It is also possible that you made a small typo when entering the address. Go to the main page.
    </p>
    <div class="bl_page404__wrapper">
      <img src="https://github.com/BlackStar1991/Pictures-for-sharing-/blob/master/404/bigBoom/cloud_warmcasino.png?raw=true" alt="cloud_warmcasino.png">
      <div class="bl_page404__el1"></div>
      <div class="bl_page404__el2"></div>
      <div class="bl_page404__el3"></div>
      <a class="bl_page404__link" href="/">go home</a>
    </div>
  </main>
</body>
</html>