* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 75vh;
	/* display: grid; */
	place-items: center;
	margin: 0;
	padding: 0;
	background: linear-gradient(
		to right,
		#8decb4,
		#b3ffb3,
		#8decb4
	);
	/* background: #F6E3DA; */
	font-family: "Martel Sans", sans-serif;
  overflow-x: hidden  ;
}

.open-chat{
	background: rgb(0, 157, 255);

	height: 2rem;
	width: 5rem;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
}

.header-links{
	text-decoration: none;
	color: white;
}

.getting-started {
  width: 185px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  padding: 20px;
	background-color: inherit;
  border-width: 3px;
  border: solid;
  cursor: pointer;
  border-radius: 8px;
}

.chat-container{
	padding: 2rem;
  width: min-content;
  display: grid;
	gap: 1rem;
	grid-template-columns: auto auto auto ;
}

h1 {
	font-size: 2.625vmin;
	text-align: center;
	color: white;
}
p {
	font-size: max(5pt, 1.25vmin);
	line-height: 1;
	color: #0e390e;
	margin-bottom: 0.75rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 42.5vmin;
	height: 32.5vmin;
	margin: 0rem auto;
	border: 6px solid;
	border-image: linear-gradient(
			-50deg,
			green,
			#00b300,
			forestgreen,
			green,
			lightgreen,
			#00e600,
			green
		)
		1;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem 0.75rem;
	background: #186218;
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 7.5vmin;
	height: 100%;
	padding: 0.25rem 0 0 0.25rem;
	border: 3px solid;
	border-image: linear-gradient(
			to bottom,
			#aea724 5%,
			forestgreen 35% 65%,
			#aea724 95%
		)
		0 0 0 100%;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 30vmin;
	height: 100%;
	background-image: url("https://tourism.bihar.gov.in/content/dam/bihar-tourism/images/category_a/patna/gandhi_ghat/Gandhi-Ghat.jpg/jcr:content/renditions/cq5dam.web.1280.765.jpeg");
	background-size: cover;
	transition: 0.3s ease-in-out;
	/* border: 1px solid green; */
}

.inset {
	max-width: 45%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}
.insetNIT {
	max-width: 40%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: 0.3s ease-in-out 0.3s;
}
.dot {
	width: 7px;
	height: 7px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: 0.3s ease-in-out 0.3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 30vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
	overflow-y: scroll;
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 15vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}

/* Animations and timing delays */
.animate {
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}
/* Pop In */
.pop {
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

/* Slide In */
.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

/* Slide Left */
.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}



/* Body Min Height */
body {
	min-height: 67.5vh;
}

/* Paragraph Font Size */
p {
	font-size: max(6.75pt, 1.6875vmin);
}

/* Wrap Width and Height */
.wrap {
	width: 57.375vmin;
	height: 43.875vmin;
}

/* Overlay Content Width */
.overlay-content {
	width: 10.125vmin;
}

/* Image Content Width */
.image-content {
	width: 40.5vmin;
}

/* Dot Size */
.dot {
	width: 9.45px;
	height: 9.45px;
}
