body {
  font-size: 20px;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
		to right,
		#8decb4,
		#b3ffb3,
		#8decb4
	);
}


.header{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  /* background-color: #151316; */
  top: 0%;
}

.header-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.EcoGuardian-logo{
  height: 105px;
  width: 105px;
}

.project-name{
  padding-left: 20px;
  font-size: 30px;
  color: #41B93D;
}

.header-right{
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: right;
}

.header-tags{
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}



.login {
  width: 185px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  padding: 20px;
	background-color: inherit;
  border-width: 3px;
  border: solid;
  cursor: pointer;
  border-radius: 8px;
}

.header-links{
	text-decoration: none;
	color: white;
}